{% extends "base_generic.html" %}

{% block content %}

    {% if user.is_authenticated %}
        <h1>Animal List</h1>

        {% if animal_list %}

            <table class="table table-hover">
                <tr>
                    <th>Name</th>
                    <th>Shelter</th>

                    {% if user.client.is_admin %}
                        <th>Upgrade</th>
                        <th>Delete</th>
                    {% endif %}

                    {% if user.client.is_user %}
                        <th>Upgrade</th>
                    {% endif %}

                </tr>
                {% for animal in animal_list %}
                    <tr>
                        <td>
                            <div>
                                <a href="{{ animal.get_absolute_url }}">{{ animal.name }}</a>
                            </div>
                        </td>
                        <td>
                            <div><a href="{{ animal.shelter.get_absolute_url }}">
                                {{ animal.shelter }}</a></div>
                        </td>
                        {% if user.client.is_admin %}
                            <td>
                                <div><a href="{% url 'animal_update' animal.pk %}">Upgrade
                                    Animal</a></div>
                            </td>
                            <td>
                                <div><a href="{% url 'animal_delete' animal.pk %}">Delete
                                    Animal</a></div>
                            </td>
                        {% endif %}

                        {% if user.client.is_user %}
                            <td>
                                <div><a href="{% url 'animal_update' animal.pk %}">Upgrade
                                    Animal</a></div>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>

            {% if user.client.is_admin or user.client.is_user %}
                <hr/>
                <ul class="sidebar-nav">
                    <li><a href="{% url 'animal_create' %}">Create Animal</a></li>
                </ul>
            {% endif %}

        {% else %}
            <p>There are no animals in the shelters.</p>
        {% endif %}

    {% else %}
        <h1>Please log in</h1>
    {% endif %}
{% endblock %}